html {
  background-color: #869960;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  box-sizing: border-box;

  background-color: #fff;
}

header {
  padding-top: 20px;
  color: #617140;
}

header h1 {
  margin: 0;

  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
}

/* Site Navigation */

.site-nav  {
  margin-top: 20px;
}

.site-nav ul {
  padding: 0;
  margin: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #617140;
  border: 3px solid #e5e9dc;
  border-bottom: none;
}

.site-nav a:hover {
  background-color: #e5e9dc;
}

/* End Site Navigation */

/* Banner Overlay */

.image-banner {
  position: relative;
}

.image-banner img {
  display: block;
}

.banner-description {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 15px 25px;

  color: #fff;
  background-color: rgba(0, 0, 0, .65);
}

/* End Banner Overlay */

.content-area {
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #e5e9dc;
}

.main-area {
  width: 66%;
  float: left;

  box-sizing: border-box;

  padding-right: 40px;
}

.sidebar {
  width: 34%;
  float: left;
  padding: 20px 40px;

  font-size: 85%;

  box-sizing: border-box;

  background-color: #e5e9dc;
}

footer {
  text-align: center;
  font-size: 85%;
  color: #999;

  padding-top: 20px;
  padding-bottom: 20px;
}

/* Clearfix */
.group:before,
.group:after {
  content: '';
  display: block;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
