html {
  background-color: #869960;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  box-sizing: border-box;

  background-color: #fff;
}

header {
  padding-top: 20px;
  color: #617140;
}

header h1 {
  margin: 0;

  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
}

/* Site Navigation */

.site-nav  {
  margin-top: 20px;
}

.site-nav ul {
  padding: 0;
  margin: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #617140;
  border: 3px solid #e5e9dc;
  border-bottom: none;
}

.site-nav a:hover {
  background-color: #e5e9dc;
}

/* End Site Navigation */

/* Banner Overlay */

.image-banner {
  position: relative;
}

.image-banner img {
  display: block;
}

.banner-description {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 15px 25px;

  color: #fff;
  background-color: rgba(0, 0, 0, .65);
}

/* End Banner Overlay */

.content-area {
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #e5e9dc;
}

.main-area {
  width: 66%;
  float: left;

  box-sizing: border-box;

  padding-right: 40px;
}

/* Table Styles */

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.col-item-name {
  width: 60%;
}


.col-quantity {
  width: 20%;
}


.col-price {
  width: 20%;
}

table th {
  text-align: left;
  background-color: #869960;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th,
table td {
  border: 1px solid #869960;
  padding: 10px;

  vertical-align: top;
}

table tbody tr:nth-child(even) td {
  background-color: #e5e9dc;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
  text-align: center;
}

/* End Table Styles */

/* Form Styles */

form {
  background-color: #ececec;
  padding: 30px 40px;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  outline: none;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #869960;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #798a56;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #798a56;
  border: 1px solid #535e3b;
}

.checkbox-text {
  font-size: 85%;
  color: #777;
}

/* End Form Styles */

.sidebar {
  width: 34%;
  float: left;
  padding: 20px 40px;

  font-size: 85%;

  box-sizing: border-box;

  background-color: #e5e9dc;
}

footer {
  text-align: center;
  font-size: 85%;
  color: #999;

  padding-top: 20px;
  padding-bottom: 20px;
}

/* Clearfix */
.group:before,
.group:after {
  content: '';
  display: block;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
