/* Type selector - HTML TAG */
h1 {
  color: orange;
  text-align: center;

  font-size: 165%;
  font-weight: normal;
}

p {
  color: green;
}

footer p {
  color: orange;
}

/* Descendent selector - Nested HTML TAGs */
header p {
  color: green;
}

header p span {
  color: blue;
}

/* Class selector - `class` HTML Attribute */
.highlight {
  background-color: yellow;
}

/* Selector combinations */
footer .highlight {
  background-color: LightGray;
}
